name: Run tests

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: pypa/hatch@install
      - name: Run tests
        run: hatch test --randomize --all -vv --doctest-modules
  
  examples-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - uses: getgauge/setup-gauge@master
        with:
          gauge-plugins: python
      - name: Install playtest2
        run: |
          python -m venv .venv --upgrade-deps
          source .venv/bin/activate
          python -m pip install .
          cd example
          playtest2 setup step_impl
      - name: Debug information
        run: |
          source .venv/bin/activate
          which python
          python -m site
          cat example/env/default/python.properties
      - name: Run validation
        run: |
          source .venv/bin/activate
          cd example
          gauge validate specs
      - name: Run example spec
        run: |
          source .venv/bin/activate
          cd example
          python -m pip install fastapi[standard]
          gauge run specs
        env:
          SUT_BASE_URL: http://127.0.0.1:8000
